/* CSS Code for this PhoneGap App to Go Here */
/*
 body,.ui-page
 {
 	background: #FFFFFF;
 }
 .ui-page {
   -webkit-animation-fill-mode: both;
 }
 
 .ui-page .ui-header
{
    background: #112233 !important;
}

 
 .ui-page .ui-footer
{
    background: #112233 !important;
}
*/

#meter
        {
            width: 100%;
            height: 50px;
            display: block;
        }
        
        